server {
	listen 80;
	listen 443 ssl;
	http2 on;

	server_name <automation_server_domain>;

	ssl_certificate /etc/nginx/ssl/automation.pem;
	ssl_certificate_key /etc/nginx/ssl/automation.key;

	location / {
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
		proxy_pass http://nodered:1880;
	}
}

